body {
    margin: 0;
    overflow: hidden;
    background-color: black;
}

#visualizer-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#rms-ring {
    position: absolute;
    border: 5px solid white;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.1s ease-out;
}

#beat-flash {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0;
    transition: opacity 0.05s ease-out;
}